<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventos Guardados</title>
    <link rel="stylesheet" th:href="@{/css/forum.css}">
</head>
<body>
    <div class="header">
        <h1>Eventos Guardados</h1>
        <a href="/user/home" class="btn">Volver</a>
    </div>
    <div class="event-container">
        <div th:if="${savedEvents.isEmpty()}" class="event-info">
            <p>No tienes eventos guardados.</p>
        </div>
        <div th:each="event : ${savedEvents}" class="event">
            <img th:src="@{'/event_gallery/' + ${event.eventCoverPath}}" alt="Imagen del Evento" class="event-image">
            <div class="event-info">
                <h2 th:text="${event.title}">Título del Evento</h2>
                <p th:text="${event.description}">Descripción</p>
                <p th:text="${#dates.format(event.startTime, 'dd/MM/yyyy HH:mm')}">Fecha y Hora</p>
                <form th:action="@{'/user/events/remove/' + ${event.id}}" method="post">
                    <button type="submit" class="btn">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
